* {

   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {

   width: 75%;
   height: 80%;
}

.error_page {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-container {
   position: relative;
   display: inline-block;
 }

 .image-container img {

   width: 100vw;
   height: 100vh;
 }
 
 .text-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
 }
 
 .text-overlay h2 {
   font-size: 4rem;
   margin-bottom: 8px;
 }
 
 .text-overlay p {
   font-size: 3rem;
   margin: 0;
 }
 